#resultsTable {
  tr {
    &:hover {
      background-color: #b2dfdb;
    }

    td {
      border-bottom: 1px solid rgba(120, 120, 120, 0.4);
      padding: 10px;

      .result-info {
        font-size: 83%;
        margin-top: 0.25rem;
      }

      img {
        max-width: 34px;
      }
    }

    &:last-of-type td {
      border-bottom: none;
    }
  }
}

#noResults,
#errorMessage {
  text-align: center;
  font-style: italic;
  padding: 1rem;
}
