@font-face {
  font-family: 'Boycott';
  src: url('../assets/fonts/boycott/boycott.eot');
  src: url('../assets/fonts/boycott/boycott.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/boycott/boycott.woff2') format('woff2'),
  url('../assets/fonts/boycott/boycott.woff') format('woff'),
  url('../assets/fonts/boycott/boycott.ttf') format('truetype');
}
